:root{
    --clr1:  rgb(212, 240, 251);
    --clr2: white;
    --clr3: navy;
    --txtclr: black;
    --shadow: rgb(0,0,0,0.5);
}

body{
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--clr1);
    color: var(--txtclr);
}

header{
    padding: 20px;
    background-color: var(--clr3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr2);
    text-shadow: 10px 5px 5px var(--shadow);
    box-shadow: 0 5px 5px 2px var(--shadow);
}

h1{
    font-size: 3rem;
}

main{
    margin: 10%;
    margin-top: 0;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.status-bar{
    visibility: hidden;
    padding: 3% 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stat-box{
    display: flex;
    flex-direction: row;
    box-shadow: 3px 5px 2px 2px var(--shadow);
    font-size: 1.5rem;
}

.stat-title{
    background-color: var(--clr3);
    color: var(--clr2);
    padding: .75rem 1rem;
}

.stat-value{
    background-color: var(--clr2);
    padding: .75rem 1rem;
    border: 1px solid var(--txtclr);
    font-weight: 700;
    /* font-size: 1.25rem; */
}

/* h2 {
    font-size: 1.25rem;
} */


.quiz-card{
    min-height: 80%;
    background-color: var(--clr2);
    border-radius: 25px;
    box-shadow: 0 0 5px 2px var(--shadow);
}

.qcard-header{
    border-radius: 25px 25px 0 0;
    box-shadow: 0 2px 3px 2px var(--shadow);
    display: flex;
    justify-content: start;
    padding: 1rem 0;
    padding-left: 1rem;
}

h3{
    font-size: 2rem;
}

.qbox-shadow{
    display: flex;
    flex-direction: column;
}

.starter-ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.starter-ul li{
    padding: .5rem;
    background-color: var(--clr1);
    font-size: .75rem;
    border: 1px solid black;
    box-shadow: 0 0 5px 2px var(--shadow);
}

.startBtn{
    font-size: 2rem;
    background-color: green;
    border: 2px solid black;
    box-shadow: 0 0 10px 5px var(--shadow);
}