:root{
    --clr1:  rgb(212, 240, 251);
    --clr2: white;
    --clr3: navy;
    --txtclr: black;
    --shadow: rgb(0,0,0,0.5);
    --hovShadow: rgb(255, 255, 0, 0.5);
}

body{
    height: 100vh;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: var(--clr1);
    color: var(--txtclr);
}

header{
    padding: 20px;
    background-color: var(--clr3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr2);
    text-shadow: 10px 5px 5px var(--shadow);
    box-shadow: 0 5px 5px 2px var(--shadow);
}

h1{
    font-size: 3rem;
}

main{
    margin: 10%;
    margin-top: 0;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.status-bar{
    visibility: hidden;
    padding: 3% 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stat-box{
    display: flex;
    flex-direction: row;
    box-shadow: 3px 5px 2px 2px var(--shadow);
    font-size: 1.5rem;
}

.stat-title{
    background-color: var(--clr3);
    color: var(--clr2);
    padding: .75rem 1rem;
}

.stat-value{
    background-color: var(--clr2);
    padding: .75rem 1rem;
    border: 1px solid var(--txtclr);
    font-weight: 700;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 1.25rem; */
}

#timer{
    justify-content: end;
}

/* h2 {
    font-size: 1.25rem;
} */


.quiz-card{
    min-height: 80%;
    background-color: var(--clr2);
    border-radius: 25px;
    box-shadow: 0 0 5px 2px var(--shadow);
    /* display: flex;
    flex-direction: column; */
}

.qcard-header{
    border-radius: 25px 25px 0 0;
    box-shadow: 0 2px 3px 2px var(--shadow);
    display: flex;
    justify-content: start;
    padding: 1rem 0;
    padding-left: 1rem;
    height: 15%;
}

h3{
    font-size: 2rem;
}

.qbox-shadow{
    display: flex;
    flex-direction: column;
    height: 85%;
}


/* Starter Screen Styles */
.starter-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px dashed black; */
    height: 100%;
    gap: 1rem;
}
.choiceBtn{
    padding: 1rem 2rem;
    /* width: 100px;
    height: 50px; */
    background-color: var(--clr1);
    font-size: 1.5rem;
    font-weight: 600;
    border: 1px solid black;
    box-shadow: 0 0 7px 3px var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;
}

.choiceBtn:hover{
    cursor: pointer;
    box-shadow: 0 0 5px 2px var(--shadow);
}
.choiceBtn:active{
    cursor: pointer;
    box-shadow: 0 0 2px 1px var(--hovShadow);
}

.startBtn{
    font-size: 2rem;
    font-weight: 800;
    background-color: #AAFF00;
    /* border: 2px solid black; */
    border: none;
    box-shadow: 0 0 10px 5px var(--shadow);
    padding: 1rem 3rem;
}

.startBtn:hover{
    cursor: pointer;
    box-shadow: 0 0 5px 5px var(--shadow);
}

.startBtn:active{
    cursor: pointer;
    box-shadow: 0 0 3px 3px var(--hovShadow);
}

h4 {
    font-size: 2rem;
}



/* Quiz Styles */
.qBox{
    background-color: var(--clr1);
    height: 40%;
    border-bottom: 2px dotted black;
    font-size: 2rem;
    padding-left: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.aUl{
    height: 55%;
}

.aUl li{
    height: 25%;
    border-bottom: 2px dotted black;
    font-size: 1.5rem;
    padding-left: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
    /* position: relative;
    z-index: 0; */
}

.liAnswer:hover{
    background-color: var(--clr2);
    border: 2px solid black;
    box-shadow: 0 1px 2px 2px var(--shadow);
    position: relative;
    top: -0.25rem;
    z-index: 1;
}

.liAnswer:active{
    background-color: var(--clr2);
    border: 2px solid black;
    box-shadow: 0 1px 1px 2px var(--hovShadow);
    position: relative;
    top: -0.125rem;
    z-index: 1;
}

.liAnswer:active{
    background-color: var(--clr2);
    border: 2px solid yellow;
}

.right{
    color: rgb(0, 180, 0);
}

.wrong{
    color: red;
}

.transition-div{
    height: 25%;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .win {
    height: 85%;
    font-size: 4rem;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
};

.lose {
    height: 85%;
    font-size: 4rem;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}; */


.endGame-div{
    font-size: 4rem;
    height: 85%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    margin-top: 3rem;
    height: 10%;
    width: 60%;
    font-size: 1.5rem;
    border: 2px solid black;
    padding-left: .5rem;
    display: flex;
    justify-self: center;
}